<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Twister</display-name>
  <servlet>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>servlets.user.CreateUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.user.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.user.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditUser</servlet-name>
    <servlet-class>servlets.user.EditUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePasswordUser</servlet-name>
    <servlet-class>servlets.user.ChangePasswordUser</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>servlets.user.Profile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchUser</servlet-name>
    <servlet-class>servlets.user.SearchUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTwist</servlet-name>
    <servlet-class>servlets.twist.AddTwist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveTwist</servlet-name>
    <servlet-class>servlets.twist.RemoveTwist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListTwists</servlet-name>
    <servlet-class>servlets.twist.ListTwists</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WallTwists</servlet-name>
    <servlet-class>servlets.twist.WallTwists</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReTwist</servlet-name>
    <servlet-class>servlets.twist.ReTwist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditTwist</servlet-name>
    <servlet-class>servlets.twist.EditTwist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Follow</servlet-name>
    <servlet-class>servlets.follower.Follow</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Unfollow</servlet-name>
    <servlet-class>servlets.follower.Unfollow</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListFollowing</servlet-name>
    <servlet-class>servlets.follower.ListFollowing</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListFollowers</servlet-name>
    <servlet-class>servlets.follower.ListFollowers</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>servlets.comment.AddComment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveComment</servlet-name>
    <servlet-class>servlets.comment.RemoveComment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListComment</servlet-name>
    <servlet-class>servlets.comment.ListComment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditComment</servlet-name>
    <servlet-class>servlets.comment.EditComment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RecoverMail</servlet-name>
    <servlet-class>servlets.user.RecoverMail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddLike</servlet-name>
    <servlet-class>servlets.like.AddLike</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveLike</servlet-name>
    <servlet-class>servlets.like.RemoveLike</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListLike</servlet-name>
    <servlet-class>servlets.like.ListLike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/user/create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/user/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/user/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditUser</servlet-name>
    <url-pattern>/user/edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePasswordUser</servlet-name>
    <url-pattern>/user/changepassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchUser</servlet-name>
    <url-pattern>/user/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/user/profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTwist</servlet-name>
    <url-pattern>/twist/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveTwist</servlet-name>
    <url-pattern>/twist/remove</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListTwists</servlet-name>
    <url-pattern>/twist/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WallTwists</servlet-name>
    <url-pattern>/twist/wall</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReTwist</servlet-name>
    <url-pattern>/twist/retwist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditTwist</servlet-name>
    <url-pattern>/twist/edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Follow</servlet-name>
    <url-pattern>/following/follow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Unfollow</servlet-name>
    <url-pattern>/following/unfollow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListFollowing</servlet-name>
    <url-pattern>/following/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListFollowers</servlet-name>
    <url-pattern>/followers/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/comment/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveComment</servlet-name>
    <url-pattern>/comment/remove</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListComment</servlet-name>
    <url-pattern>/comment/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditComment</servlet-name>
    <url-pattern>/comment/edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddLike</servlet-name>
    <url-pattern>/like/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveLike</servlet-name>
    <url-pattern>/like/remove</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListLike</servlet-name>
    <url-pattern>/like/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecoverMail</servlet-name>
    <url-pattern>/mail/recover</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>filters.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>